.sidebar {
  width: 190px;
  height: 100vh;
  background-color: rgb(251, 255, 255); /* Fundo da sidebar */
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
}


.menu-title {
  font-size: 14px; /* Tamanho do texto do título */
  margin-top:50px;
  margin-left: 60px;
  color: #939595; /* Cor do texto do título */
  font-weight: bold;
  margin-bottom: 20px; /* Espaço abaixo do título */
}

.sidebar mat-icon {
  margin-right: 10px;
  margin-top: 20;
  color: #4e6b91; /* Cor dos ícones */
}

.sidebar .menu-text {
  color: #460a58; /* Cor do texto */
  font-size: 14px; /* Tamanho do texto */
}

.sidebar a:hover {
  background-color: transparent;
  border-bottom: 3px solid rgb(146, 48, 149); /* Risco azul menor */
  padding-bottom: 4px; /* Espaçamento entre o texto e o risco */

}


