.dashboard-content {
    padding: 16px;
    margin-left:270px;
    margin-top:-20px;
  
  }
  
  .dashboard-indicators {
    display: flex;
    margin-top:40px;
    flex-wrap: wrap;
    gap: 8px; /* Menor espaço entre os cartões */
  }
  
  .indicator-card {
    flex: 1 1 120px; /* Permite que os cartões se ajustem automaticamente */
    max-width: 300px; /* Largura máxima menor */
    max-height: 90px; /* Altura máxima menor */
    margin: 4px; /* Margem ao redor dos cartões */
    padding: 4px; /* Padding interno dos cartões */
    box-sizing: border-box; /* Inclui o padding e a borda no tamanho total do cartão */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; /* Centraliza o texto no cartão */
    font-size: 12px; /* Reduz o tamanho da fonte geral no cartão */
  }
  
  .indicator-card mat-card-title {
    font-size: 14px; /* Tamanho da fonte do título do cartão */
  }
  
  .indicator-card mat-card-content {
    font-size: 20px; /* Tamanho da fonte do conteúdo do cartão */
    color: #464646; /* Cor do texto do conteúdo do cartão */
  }
