<div class="dashboard-content">
  <h3>Overview</h3>
  <div class="dropdown">
    <button class="dropdown-button">
      Today
      <span class="dropdown-icon">▼</span>
    </button>
  </div>

  <div class="dashboard-indicators">
    <mat-card class="indicator-card">
      <mat-card-title>
        Faturamento
        <span class="indicator-icon" [ngClass]="{'positive': totalFaturamento >= 0, 'negative': totalFaturamento < 0}">
          {{ totalFaturamento >= 0 ? '▲' : '▼' }}
        </span>
      </mat-card-title>
      <mat-card-content>
        R$ {{ totalFaturamento | number: '1.2-2' }}
      </mat-card-content>
    </mat-card>

    <mat-card class="indicator-card">
      <mat-card-title>
        Valor de Estoque
        <span class="indicator-icon" [ngClass]="{'positive': totalValorEstoque >= 0, 'negative': totalValorEstoque < 0}">
          {{ totalValorEstoque >= 0 ? '▲' : '▼' }}
        </span>
      </mat-card-title>
      <mat-card-content>
        R$ {{ totalValorEstoque | number: '1.2-2' }}
      </mat-card-content>
    </mat-card>

    <mat-card class="indicator-card">
      <mat-card-title>
        Ruptura de Estoque
        <span class="indicator-icon" [ngClass]="{'positive': totalRupturaEstoque >= 0, 'negative': totalRupturaEstoque < 0}">
          {{ totalRupturaEstoque >= 0 ? '▲' : '▼' }}
        </span>
      </mat-card-title>
      <mat-card-content>
        {{ totalRupturaEstoque }}
      </mat-card-content>
    </mat-card>

    <mat-card class="indicator-card">
      <mat-card-title>
        Giro de Estoque
        <span class="indicator-icon" [ngClass]="{'positive': totalGiroEstoque >= 0, 'negative': totalGiroEstoque < 0}">
          {{ totalGiroEstoque >= 0 ? '▲' : '▼' }}
        </span>
      </mat-card-title>
      <mat-card-content>
        {{ totalGiroEstoque }}
      </mat-card-content>
    </mat-card>
  </div>

  <div class="dashboard-charts">
    <!-- Add your charts here -->
  </div>

  <div class="dashboard-table">
    <!-- Add your tables here -->
  </div>
</div>
