.dashboard-content {
    padding: 16px;
    margin-left:270px;
    margin-top:-20px;
  
  }
  
  .dashboard-indicators {
    display: flex;
    margin-top:40px;
    flex-wrap: wrap;
    gap: 8px; /* Menor espaço entre os cartões */
  }
  
  .indicator-card {
    flex: 1 1 120px; /* Permite que os cartões se ajustem automaticamente */
    max-width: 200px; /* Largura máxima menor */
    max-height: 90px; /* Altura máxima menor */
    margin: 4px; /* Margem ao redor dos cartões */
    padding: 4px; /* Padding interno dos cartões */
    box-sizing: border-box; /* Inclui o padding e a borda no tamanho total do cartão */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; /* Centraliza o texto no cartão */
    font-size: 12px; /* Reduz o tamanho da fonte geral no cartão */
  }
  
  .mat-card-title {
    display: flex;
    align-items: center;
    line-height: 1.2; /* Ajusta o espaçamento entre linhas */
    overflow: hidden; /* Garante que o texto não saia do cartão */
    text-overflow: ellipsis; /* Adiciona reticências se o texto for muito longo */
    white-space: nowrap; /* Garante que o texto não quebre linha */
  }
  .dashboard-content .indicator-card mat-card-title {
    font-size: 15px; /* Defina o tamanho da fonte desejado */
    font-weight: normal; /* Ajuste o peso da fonte, se necessário */
  }
  
