/* Container principal que alinha o gráfico e a legenda */
.chart-container {
  display: flex;
  flex-direction: row; /* Alinha o gráfico e a legenda horizontalmente */
  align-items: flex-start; /* Alinha o gráfico e a legenda no início do container */
  justify-content: flex-end; /* Alinha o gráfico e a legenda no final do container */
  width: 30%; /* Ajusta a largura do container ao tamanho disponível */
  height: 49%;
  margin: 20px; /* Espaçamento ao redor do container */
  padding: 20px;
  margin-left:800px;
  border-radius:10px;
  box-sizing: border-box;
  border: 2px solid #f9f8f8;
  background-color: #f9f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para o ngx-charts-pie-chart */
ngx-charts-pie-chart {
  width: 180px; /* Ajusta a largura do gráfico conforme necessário */
  margin-top:-100px;
 
}

/* Estilo para a legenda personalizada */
.legend-container {
  display: flex;
  flex-direction: column; /* Alinha itens da legenda em coluna */
  margin-top: 40px; /* Remove a margem superior para que a legenda fique ao lado do gráfico */
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  list-style: none; /* Remove bullets da lista */
}

.legend-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.legend-name {
  font-size: 10px;
}
