
ngx-charts-pie-chart {
  display: flex;
  width: 20px;
  margin-left: 920px;
  margin-top: -300px;
  box-sizing: border-box;
}

ngx-charts-pie-chart .slice {
  transition: transform 0.3s ease; /* Adicione uma transição suave para animações */
}

ngx-charts-pie-chart .slice:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

ngx-charts-pie-chart .ngx-charts-legend {
  display: none; /* Esconde a legenda do gráfico */
}



.legend-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000; /* Cor da bolinha */
  margin-right: 8px;
}

.legend-text {
  font-size: 14px;
}

.chart-container {
  max-width: 300px;
  height: 200px;
  margin-top:30px;
  margin-left:850px;
  padding: 20px;
  background-color: #ecebeb;
  border:2px solid rgb(235, 234, 234);
  border-radius: 10px;
  text-align: center;
}

.chart-container h2 {
  margin-top:-10px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

